.ZobwZVLnf8HsaWsaovuv {
  position: relative;
  width: 30rem;
  height: 26rem;
  overflow: hidden;
  margin-bottom: 5.5rem;
  text-align: center;
  transition: 0.8s all ease-in-out;
  border-radius: 4%;
}

.kzhcKDhYIB43KYLocPCY {
  padding-top: 24px;
  position: relative;
  font-style: italic;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
  color: var(--white);
}

.WYYFzA4O7bUnOWlQO835 {
  position: absolute;
  top: 0;
  width: 30rem;
  height: 10.25rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #0d0310 71.35%);
  transform: rotate(-180deg);
}

.cbjKygFWXP3BcfTb3H6y {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translateX(-10%);
}

.L411jblBObRtWZ1V3dtQ {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 16px;
  color: var(--white);
}

.L411jblBObRtWZ1V3dtQ::before {
  content: '';
  display: block;
  position: absolute;
  top: -12px;
  left: -12px;
  width: 24px;
  height: 24px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
}

.L411jblBObRtWZ1V3dtQ span {
  display: inline-block;
  animation: yt60bryC_rFY3Si9YGh1 1s ease-in-out infinite;
}

.L411jblBObRtWZ1V3dtQ span:nth-of-type(1) {
  animation-delay: 0s;
}
.L411jblBObRtWZ1V3dtQ span:nth-of-type(2) {
  animation-delay: 0.1s;
}
.L411jblBObRtWZ1V3dtQ span:nth-of-type(3) {
  animation-delay: 0.2s;
}
.L411jblBObRtWZ1V3dtQ span:nth-of-type(4) {
  animation-delay: 0.3s;
}
.L411jblBObRtWZ1V3dtQ span:nth-of-type(5) {
  animation-delay: 0.4s;
}
.L411jblBObRtWZ1V3dtQ span:nth-of-type(6) {
  animation-delay: 0.5s;
}
.L411jblBObRtWZ1V3dtQ span:nth-of-type(7) {
  animation-delay: 0.6s;
}

@keyframes yt60bryC_rFY3Si9YGh1 {
  00% {
    transform: translateY(0em);
  }
  60% {
    transform: translateY(-0.6em);
  }
  100% {
    transform: translateY(0em);
  }
}

.H08AUuC6N8VPXPyCk9hH {
  position: absolute;
  stroke-width: 2px;
}

.vHDqkUH8HtiZAy9ha2_f {
  position: relative;
  color: var(--white);
  width: 100%;
  height: 46.5rem;
  padding-top: 3.5rem;
}

.pis03fITVg9fBGtzbF4y {
  width: 100%;
  height: 100%;
}

.ZjypuEmPWJfig5nEn8KU {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 8.5rem;
}

.VhUFOywGiUzgWAEgFbEW {
  font-style: italic;
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 4.5rem;
  text-align: center;
}

.MjGku9Bqn8OJdi_dQL8r {
  font-style: italic;
  font-weight: 400;
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
  padding-top: 1.25rem;
}

.gj9Pdk9hGjAg44CIlgWT {
  position: absolute;
  bottom: 5.5rem;
}

.xelOsZGkczn9qjZVZLDL {
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 23.5rem;
  height: 3.5rem;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  border: none;
  background: var(--radial-gradient);
  color: var(--white);
  cursor: pointer;
  transition: all 0.5s ease-in-out 0s;
}

.xelOsZGkczn9qjZVZLDL:hover {
  background: var(--radial-gradient);
}

.C78Vv7oZ04pVBg_5Uzme {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 3.75rem 0;
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(232, 109, 198, 0.1) 0%,
    rgba(232, 109, 198, 0.64248) 0.01%,
    #bd00ff 77.6%
  );
}

.KDo1XG7RgQ7lc8WgmiIB {
  width: 65rem;
  border-top: 2px solid rgba(255, 255, 255, 0.75);
  padding: 3.75rem 0;
}

.k2QMi8dEmvo7iRK0ixXA {
  font-style: italic;
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 3.75rem;
  text-align: center;
  color: var(--white);
}

.dDikNNy90FGa4FUYiPoO {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3.75rem;
}

.JfBFS8DDHhyP3O0sZbhc {
  padding-top: 5rem;
  padding-bottom: 2.5rem;
}

.fvvDTd_or9nlQJ4EebIw {
  display: flex;
  justify-content: center;
  padding: 0 2rem;
}

.SqWjBPbSS9QzUcPnZWzM {
  font-style: italic;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  background: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 2rem;
}

.cwfkRcEbDV5lxbK5zQeW {
  width: 30rem;
  height: 2.75rem;
  font-size: 1rem;
  padding: 0 1rem;
  box-sizing: border-box;
  transition: transform 0.2s ease-in-out;
}

.mX6A1Jbpspk8rGlgnw5Y {
  width: 2.75rem;
  height: 2.75rem;
  background: var(--radial-gradient);
}

.gdqHcKhNPV96nv1Xdx_J {
  padding-top: 3.75rem;
  padding-bottom: 2.25rem;
  font-style: italic;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
}

.gdqHcKhNPV96nv1Xdx_J span {
  background: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nBgVg_UUJBcIoItObE_f {
  position: relative;
  width: 280px;
  height: 280px;
  background: radial-gradient(
    110.23% 110.23% at 50% 50%,
    #bd00ff 0%,
    rgba(233, 97, 195, 0.64248) 61.18%,
    rgba(232, 109, 198, 0.1) 97.71%
  );
  overflow: hidden;
  transition: all 0.2s ease-in;
  border-radius: 4%;
}

.nBgVg_UUJBcIoItObE_f:hover {
  top: -0.75rem;
}

.gTFkmxwHfOAONQyxIkEv {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.b6amuQwYKCnbXCaPdOcP {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.qMlsjB08ApYPBIcXfYk1 {
  width: 100%;
  height: 120px;
  background: linear-gradient(
    180deg,
    rgba(232, 109, 198, 0.1) 0%,
    rgba(232, 109, 198, 0.64248) 38.02%,
    #bd00ff 71.35%
  );
}

.c_Vy3LpHRPAL7wZ0ruj6 {
  position: absolute;
  bottom: 1rem;
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5rem;
  padding: 0 1rem;
  color: var(--white);
}

.PJnK5L4I75df7EUlZQQa {
  min-height: 90vh;
  max-width: 1180px;
  margin: 0 auto;
}

.OZwoJUqa6IlBXFw5Jwp_ {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem;
  padding-bottom: 5rem;
}

.aTXqEjjXF6OPzctSQldK {
  width: 100%;
  height: 3.5rem;
  background: var(--radial-gradient);
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  color: var(--white);
  cursor: pointer;
  border: none;
  margin-bottom: 2.5rem;
  transition: all 0.5s ease-in-out 0s;
}

.aTXqEjjXF6OPzctSQldK:hover {
  background: var(--radial-gradient);
}

.mSWHbdF87npUxuF5PphN {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.mSWHbdF87npUxuF5PphN .Czc2HUrdOjEXKlLKuA5U {
  width: 60px;
  height: 60px;
}

.mSWHbdF87npUxuF5PphN p {
  padding-left: 8px;
}

.mSWHbdF87npUxuF5PphN .zzxXuUKbKsgmX8ppby80 {
  color: var(--black);
  text-decoration: underline;
}

.a4jLZGZ_o6q8XUSsx5sh {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #bd00ff;
}

.oEYbz9mNWlfGAysLI4bA {
  position: fixed;
  right: -320px;
  top: 0;
  width: 320px;
  height: 100%;
  z-index: 10;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  opacity: 0;
  transition: 0.5s all cubic-bezier(0.82, 0.085, 0.395, 0.895);
}

.oEYbz9mNWlfGAysLI4bA.QPYcEaHk4hWu0t4qtund {
  right: 0;
  opacity: 1;
}

.EanvEg7sWAD0eTkP6O0V {
  font-style: italic;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 1.5rem;
  height: 3.5rem;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.vQ5VVsSgGF5xnHoLuf6A {
  padding: 20px 16px 80px 16px;
  height: 100%;
  line-height: 1.5rem;
  overflow-y: scroll;
}

.vQ5VVsSgGF5xnHoLuf6A img {
  width: 100%;
}

.yQM0RG3XfV_B6TKiAaTv {
  background: #131313;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 3.5rem;
}

.ZnAjoy2C1hYmN2w9BPm9 {
  padding-top: 5.3125rem;
  padding-bottom: 2.1875rem;
}

.YHG50KMUzRxyvaMYR_0J {
  display: flex;
  justify-content: center;
  padding: 0 2rem;
}

.BWbO3jyilr2zcpNEnMss {
  font-style: italic;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  background: linear-gradient(270deg, #e86dc6 7.22%, #c625ff 77.95%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 2rem;
}

.pP4PutRYV6bk41_BC9zw {
  width: 30rem;
  height: 2.75rem;
  font-size: 1rem;
  padding: 0 1rem;
  box-sizing: border-box;
  transition: transform 0.2s ease-in-out;
}

.bMhCeC0KTPz6q_JjlRgg {
  width: 2.75rem;
  height: 2.75rem;
  background: radial-gradient(
    110.23% 110.23% at 50% 50%,
    #bd00ff 0%,
    rgba(233, 97, 195, 0.64248) 61.18%,
    rgba(232, 109, 198, 0.1) 97.71%
  );
  cursor: pointer;
}

.qrVOGiYOVnVIAFw6eMO2 {
  width: 2rem;
  height: 2rem;
  color: #ffffff;
}

.FktCXzChFmUFcTlYfBjT {
  min-height: 90vh;
  max-width: 1180px;
  margin: 0 auto;
}

.H5gLZBbTNiQZBLeFSxLZ {
  padding-top: 3.75rem;
  padding-bottom: 2.25rem;
  font-style: italic;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
}

.H5gLZBbTNiQZBLeFSxLZ span {
  background: linear-gradient(270deg, #e86dc6 7.22%, #c625ff 77.95%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.in1w3dzptffibKmy0m1r {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem;
  padding-bottom: 5rem;
}

.PdYKMkHOoqhk5MGJ1e_v {
  width: 100%;
  height: 3.5rem;
  background: radial-gradient(
    110.23% 110.23% at 50% 50%,
    #bd00ff 0%,
    rgba(233, 97, 195, 0.97) 57.81%
  );
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  border: none;
  margin-bottom: 2.5rem;
  transition: all 0.5s ease-in-out 0s;
}

.PdYKMkHOoqhk5MGJ1e_v:hover {
  background: radial-gradient(
    110.23% 110.23% at 50% 50%,
    #bd00ff 0%,
    rgba(233, 97, 195, 0.77) 57.81%
  );
}

/* Mobile */
@media all and (max-width: 424px) {
  .PdYKMkHOoqhk5MGJ1e_v {
    font-size: 1.5rem;
    height: 5rem;
  }

  .pP4PutRYV6bk41_BC9zw {
    font-size: 1.5rem;
  }

  .bMhCeC0KTPz6q_JjlRgg {
    width: 5rem;
  }
}

.TQAAEExDaXJWrJWLIePF {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3.5rem;
  background-color: var(--black);
  border-bottom: 1px solid var(--white);
  padding: 0 2rem;
  position: fixed;
  z-index: 10;
}

.ZVyQPid0gSGsN5fTQW5c {
  width: 1180px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ImTtuYRTOd8JFUrTKW_4 {
  font-style: italic;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.25rem;
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
}

.suaskKNZv5FDo4t7E5YE {
  width: 11rem;
  height: 2rem;
  background: var(--radial-gradient);
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  color: var(--white);
  cursor: pointer;
  border: none;
  transition: all 0.5s ease-in-out 0s;
}

.suaskKNZv5FDo4t7E5YE:hover {
  background: radial-gradient(
    110.23% 110.23% at 50% 50%,
    #bd00ff 0%,
    rgba(233, 97, 195, 0.77) 57.81%
  );
}

footer {
  justify-content: center;
  width: 100%;
  height: 7.5rem;
  background: var(--black);
  color: var(--white);
}

footer p {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 7.5rem;
}

footer a {
  color: var(--white);
  text-decoration: underline;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  line-height: 1;
  font-family: 'Josefin Sans', sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

:root {
  --radial-gradient: radial-gradient(
    110.23% 110.23% at 50% 50%,
    #bd00ff 0%,
    rgba(233, 97, 195, 0.77) 57.81%
  );
  --linear-gradient: linear-gradient(
    180deg,
    rgba(232, 109, 198, 0.1) 0%,
    rgba(232, 109, 198, 0.64248) 38.02%,
    #bd00ff 71.35%
  );
  --text-gradient: linear-gradient(270deg, #e86dc6 7.22%, #c625ff 77.95%);
  --white: #fcfcfc;
  --black: #131313;
}

